header {
    display: table;
    width: 100%;
    background-color: black;
    color:aliceblue ; 
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 21cm;
    position: sticky;
    top: 0;
    width: 100%; /* Make sure the container takes up the full width */
}

a {
    flex-grow: 1; /* Allows each section to grow and take up equal space */
    flex-basis: 0; /* Ensures sections start from zero width and grow equally */
    padding: 10px; /* Optional: adds padding around each section */
    text-align: center; /* Optional: centers text within each section */
    border: 1px solid black; /* Optional: adds a border for visual distinction */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}



.leader {
    background-color: black;
    padding: 5px;
    display:grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    max-width: 21cm;
    justify-content: center;
    align-content: center;
    color:aliceblue ; 
     
}

.ship {
    background-color: rgb(179, 43, 43);
    padding: 5px;
    display:grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    max-width: 21cm;
    justify-content: center;
    align-content: center;
    color:aliceblue ; 
     
}

.pilot {
    background-color: rgb(189, 141, 141);
    padding: 5px;
    display:grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 2px;
    max-width: 21cm;
    justify-content: center;
    align-content: center;
    color:rgb(0, 0, 0) ; 
     
}

.upgrade.faction {
    background-color: rgb(16, 26, 158);
    padding: 5px;
    display:grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    max-width: 21cm;
    justify-content: center;
    align-content: center;
    color:aliceblue ; 
     
}

.upgrade.generic {
    background-color: rgb(160, 165, 236);
    padding: 5px;
    display:grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 2px;
    max-width: 21cm;
    justify-content: center;
    align-content: center;
    color:rgb(0, 0, 0) ; 
     
}

.name {
    grid-column: 1;
    grid-row: 1;
    border: 1px solid black; /* Border to visualize the grid item */
}

.ability {
    grid-column: 1 / span 6; /* spans from the first to the sixth column */
    grid-row: 2; /* places the item in the second row */
    display: flex; /* added for centering content */
    align-items: center; /* centers content vertically */
    border: 1px solid black; /* Border to visualize the grid item */
}

.charge {
    grid-column: 6;
    grid-row: 1;
    border: 1px solid rgb(255, 255, 255); /* Border to visualize the grid item */
}

.attack{
    grid-column: 2;
    grid-row: 1;
    border: 1px solid black; /* Border to visualize the grid item */
}

.agility{
    grid-column: 3;
    grid-row: 1;
    border: 1px solid black; /* Border to visualize the grid item */
}

.hull{
    grid-column: 4;
    grid-row: 1;
    border: 1px solid black; /* Border to visualize the grid item */
}

.shield{
    grid-column: 5;
    grid-row: 1;
    border: 1px solid black; /* Border to visualize the grid item */
}

.size{
    grid-column: 1 ;
    grid-row: 3;
    border: 1px solid black; /* Border to visualize the grid item */

}

.action{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 3;
    border: 1px solid black; /* Border to visualize the grid item */
}

.maneuver{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row: 3;
    border: 1px solid black; /* Border to visualize the grid item */
}

.type{
    grid-column: 2;
    grid-row: 1;
    border: 1px solid black; /* Border to visualize the grid item */
}

.points{
    grid-column: 3;
    grid-row: 1;
    border: 1px solid black; /* Border to visualize the grid item */
}

.loadout{
    grid-column: 4;
    grid-row: 1;
    border: 1px solid black; /* Border to visualize the grid item */
}

.force{
    grid-column: 5;
    grid-row: 1;
    border: 1px solid black; /* Border to visualize the grid item */
}
.logo {
    width: 25px; /* Example size, adjust as needed */
    height: auto; /* Maintain aspect ratio */
}


