.bases{
    width: 19cm;
   display: flex;
   flex-wrap: wrap;
   
}

@media print {
  img {
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    display: block;
  }
}

img {
  max-width: 100%;
  height: auto;
}


.bases img {
  object-fit: none; /* ou contain si tu veux garder tout visible */
  flex-shrink: 0;
  flex-grow: 0;
  align-self: flex-start; /* ou baseline, si tu veux aligner le bas de l’image */
}
.small {
    width: 3,4cm;
    height: 4cm;
}
.medium {
    width: 5,4cm;
    height: 6cm;
}
.large{
    width: 7,2cm;
    height: 8,1cm;
}
