.bases{
    width: 21cm;
   display: flex;
}

@media print {
  img {
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    display: block;
  }
}

img {
  max-width: 100%;
  height: auto;
}


.bases img {
  object-fit: none; /* ou contain si tu veux garder tout visible */
  flex-shrink: 0;
  flex-grow: 0;
  align-self: flex-start; /* ou baseline, si tu veux aligner le bas de l’image */
}

