.container {
    width: 826px;
    height: 1170px;
    display: grid;
    grid-template-columns: 1em 1em 1em 1em 1em 1em 1em;
    grid-template-rows: 1em 1em 1em 1em 1em 1em 1em 1em 1em;
}

.leader {

}

.two{

}

.three{

}

.four{

}

.five{

}

.six{

}

.seven{

}

.eight{
    
}