header {
    display: flex;
    top:0;
    padding: 3px;
    flex-wrap: wrap;
    background-color: aquamarine;
    
}
header div{
    min-width: 75px;
    max-width: 100px;
    padding-bottom: 3px;
}

h1 {
    color: brown;
}
h2 {
    color:blue;
    font-size: medium;
}