header {
    display: flex;
    position: sticky;
    top:0;
    padding: 3px;
    flex-wrap: wrap;
    background-color: aliceblue;
}
header div{
    min-width: 75px;
    max-width: 100px;
}

h1 {
    color: brown;
}
.bonus h2 {
    color:blue;
}