body {
    background-color: rgb(52, 43, 63);
}

header {
    display: table;
    width: 100%;
    background-color: black;
    color:aliceblue ; 
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 750px;
}

.descriptleader {
    display: grid ;
    grid-template-columns: 30px 1fr 30px 1fr;
    grid-template-rows: 30px 30px;
    gap: 2px;
    background-color: black;
    justify-content: center;
    align-content: center;
    color:antiquewhite;
    max-width: 750px;
   
      
}

.seven {
    grid-column-start: 3;
    grid-column-end: 5;

}
.eight {
    grid-column-start: 1;
    grid-column-end: 5;
    max-height: 25%;
    justify-content: center;
    align-content: center;
    font-size: clamp(11px, 2vw, 26px);

}

.tit {
    justify-items:right;
    align-items: center;
    font-size: small;
}

.descriptionleader {
   
   justify-items: center;
   align-items: center;
   
}
.descriptleader img {
    height: 100%;
    object-fit: cover;
    

    
}
/* ##################"BODY ##############################*/
.new {
    margin: 20px 0 ;
}

.ship {
    background-color: black;
    padding: 5px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
    max-width: 750px;
    justify-content: center;
    align-content: center;
     
}

.shipmenu {
    grid-column: span 2;
    justify-content: center;
    align-content: center;
      
}



.loadout {
    color: rgb(76, 173, 101)
}

.zone {
    background-color: black;
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.chassis {
    min-width: 0;
    flex-shrink: 1;
    flex-grow: 4;
    overflow: hidden;
    text-align: center;
    color: rgb(130, 169, 202);
     cursor: pointer;
     border-color: rgb(130, 169, 202);
    border-style: solid;
    border-width: 2px;
}

.title {
    color:rgb(189, 97, 197);
    min-width: 0;
    flex-shrink: 1;
    flex-grow: 4;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
     border-color: rgb(189, 97, 197);
    border-style: solid;
    border-width: 2px;
}

.points {
    color: rgb(255, 255, 0);
    font-size: x-large;
    align-self: center;
    justify-self: center;
    text-align: right;
    flex-grow: 1;
}

.chassis:empty{
    flex: 0 0 0;
}

.title:empty{
    flex: 0 0 0;
}

.slot {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    max-width: 750px; 
    justify-content: center;
    align-content: center;
    }




#menu_leader {
    
    text-align: center;
    
}
#menu_faction {
    
    text-align: center;
    
}

select {
    overflow: auto;
}



.descriptionUpg {
    padding:5px;
    min-height: 50px;
    background-color: black;
    color:antiquewhite;
    position: sticky;
    bottom:0;
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    max-width: 750px;
}
.total {
    font-size: x-large;
    align-self: center;
    justify-self: center;
}
.count {
    color:aliceblue;
}
.logistic {
    color:rgb(188, 226, 81);
}
.initiative {
color: aliceblue;
}

.printing_option {
    padding:20px;
    background-color: azure;
    max-width: 750px;
    display: flex;
    

}
.printing_option div {
    padding: 3px;
    width : 25%; 
}

.removeB {
    background-color: brown;
}
.logo {
    height: 15px;

}
.chargeforceimg{
    height: 15px;
    width: 15px;
    resize: both;
}

.hidden {
  display: none;
}

.toggle-button {
  background-color: #bdeebe; /* vert par exemple */
  color: black;
  cursor: pointer
}
.toggle-button.active {
  background-color: #f0acac; /* gris clair par exemple */
  color: black;
  border: none;
  cursor: pointer;
}