body {
    background-color: rgb(52, 43, 63);
    justify-content: center;
}

header {
    display: table;
    width: 100%;
    background-color: black;
    color:aliceblue ; 
   
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    max-width: 750px;
}

.descriptleader {
    display: grid ;
    grid-template-columns: 30px 1fr 30px 1fr;
    grid-template-rows: 30px 30px;
    gap: 2px;
    background-color: black;
    justify-content: center;
    align-content: center;
    color:antiquewhite;
    max-width: 750px;
   
      
}

.seven {
    grid-column-start: 3;
    grid-column-end: 5;

}
.eight {
    grid-column-start: 1;
    grid-column-end: 5;
    max-height: 25%;
    justify-content: center;
    align-content: center;
    font-size: clamp(11px, 2vw, 26px);

}

.tit {
    justify-items:right;
    align-items: center;
    font-size: small;
}

.descriptionleader {
   
   justify-items: center;
   align-items: center;
   
}
.descriptleader img {
    height: 100%;
    object-fit: cover;
    
}

#menu_leader {
    
    text-align: center;
    max-width: 40%;

    
}
#menu_faction {
    
    text-align: center;
    max-width: 40%;
}

.logo {
    height: 15px;
    max-width: 750px;

}
.chargeforceimg{
    height: 15px;
    width: 15px;
    resize: both;
}

/* ##################"BODY ##############################*/
.new {
    margin: 20px 0 ;
}

/*######### First Line##########" */
.ship {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    display:grid;
    grid-template-columns: 4fr 4fr 2fr 1fr 1fr;
    gap: 2px;
    max-width: 750px;
    justify-content: center;
    align-content: center;
     
}

.shipmenu {
    grid-column: 1;
    justify-content: center;
    align-content: center;
      
}
.pilotmenu {
    grid-column: 2;
}

.initiative {
    grid-column: 3;
    color: aliceblue;
}


.removeB {
    grid-column: 4; 
    background-color: brown;
    color: white
}

.points {
    grid-column: 5;
    color: rgb(255, 255, 0);
    font-size: x-large;
    align-self: center;
    justify-self: center;
    text-align: right;
}

/* ###### Second Line ######### */

.zone {
    background-color: black;
    max-width: 750px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding-bottom: 10px;
}

.chassis {
    min-width: 0;
    flex-shrink: 1;
    flex-grow: 0.4;
    overflow: hidden;
    text-align: center;
    color: rgb(130, 169, 202);
     cursor: pointer;
     border-color: rgb(130, 169, 202);
    border-style: solid;
    border-width: 2px;
}

.title {
    color:rgb(189, 97, 197);
    min-width: 0;
    flex-shrink: 1;
    flex-grow: 0.3;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    border-color: rgb(189, 97, 197);
    border-style: solid;
    border-width: 2px;
}

.chassis:empty{
    /*flex: 0 0 0;*/
    display: none;
}

.title:empty{
     /*flex: 0 0 0;*/
    display: none;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* assombrissement */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.chassisTitleWindow {
  padding: 30px;
  max-width: 80%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
}

/* ###### Third Line ######### */

.hidden {
  display: none;
}

.toggle-button {
  background-color: #bdeebe; /* vert par exemple */
  color: black;
  cursor: pointer
}
.toggle-button.active {
  background-color: #f0acac; /* gris clair par exemple */
  color: black;
  border: none;
  cursor: pointer;
}


/* ## Beyond the third line ## */
.slot {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    max-width: 750px; 
    justify-content: center;
    align-content: center;
    }

/* #### Description Zone ######### */

.descriptionUpg {
    padding-top:5px;
    padding-bottom: 5px;;
    min-height: 50px;
    background-color: black;
    color:antiquewhite;
    position: sticky;
    bottom:0;
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    max-width: 750px;
}

.loadout {
    color: rgb(76, 173, 101)
}

.total {
    font-size: x-large;
    align-self: center;
    justify-self: center;
}
.count {
    color:aliceblue;
}
.logistic {
    color:rgb(188, 226, 81);
}

select {
    overflow: auto;
}



/* ## Bottom of the page ##*/
.printing_option {
    padding-top:20px;
    padding-bottom: 20px;
    background-color: azure;
    max-width: 750px;
    display: flex;
    justify-content: space-evenly;
    

}
.printing_option div {
    padding: 3px;
    width : 25%; 
    text-align: center;
}



    .popupCode {
      background: white;
      padding: 20px;
      border-radius: 10px;
      max-width: 400px;
      text-align: center;
      box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }

    #codeText {
      background: #f0f0f0;
      padding: 10px;
      margin-bottom: 15px;
      font-family: monospace;
    }
.btn {
      padding: 8px 12px;
      margin: 5px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background-color: #3498db;
      color: white;
      font-weight: bold;
    }

    .btn:hover {
      background-color: #2980b9;
    }















